<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008848013654-eeu3a20bibcsiea1qkk4eji57q9uuaj8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008848013654-eeu3a20bibcsiea1qkk4eji57q9uuaj8</string>
	<key>API_KEY</key>
	<string>AIzaSyAEhrlAw25NdLR6LJLy2BSTL1TDZQZwZMI</string>
	<key>GCM_SENDER_ID</key>
	<string>1008848013654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>supanut.inc.Siam-Betta</string>
	<key>PROJECT_ID</key>
	<string>bettafish-ee084</string>
	<key>STORAGE_BUCKET</key>
	<string>bettafish-ee084.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008848013654:ios:50134e4ee3050ce1606ef7</string>
	<key>DATABASE_URL</key>
	<string>https://bettafish-ee084.firebaseio.com</string>
</dict>
</plist>